* {
  box-sizing: border-box;
}
.form {
  margin: 32px;
  display: inline-block;
}
input,
textarea,
select,
button {
  margin: 8px;
  display: block;
}
.radio-holder > .radio {
  display: inline-block;
  margin: 8px 0px 8px 8px;
}
