*{
    box-sizing: content-box;
}
div{
    margin: 50px;
    min-height: 100px;
    border: 2px solid;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.pink{
    background-color: pink;
}
