*{
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
}

.article{
    margin: 9px;
    padding: 16px;
    background-color: bisque;
    width: 300px;  
    flex-grow: 1;
    
}
.articles-list{
    display: flex;
    flex-wrap: wrap;
}